
<header class="header">
    <h1>Like</h1>
</header>
<div class="like-index">
  <div class="post-grid">
    <% @liked_posts.each do |post| %>
  <div class="post-item">
    <a href="<%= post_path(post) %>"> 
    <div class="post-thumbnail">
      <% if post.video.attached? %>
        <video class="video-content" controls>
          <source src="<%= url_for(post.video) %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      <% else %>
        <p class="no-video">動画なし</p>
      <% end %>
    </div>

    <p class="post-category"><%= post.genre %></p>

    <% if user_signed_in? %>
      <div class="like-button-container" data-post-id="<%= post.id %>">
        <%= render 'likes/like_button', post: post %>
      </div>
    <% end %>
  </div>
  <% end %>
  </div>
</div>
