<%# プロフィールページ %>

<h1>PROFILE</h1>
<div class="profile-container">
  <!-- ユーザー情報 -->
  <div class="profile-header">
    <div class="profile-image">
      <% if current_user&.profile_image&.attached? %>
        <%= image_tag current_user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag "/default-profile.png", alt: "Profile Image", size: "100x100" %>
      <% end %>
    </div>
    <div class="profile-info">
      <p>name : <%= current_user.name %></p>
      <p>genre : <%= current_user.genre %></p>
      <p>age : <%= current_user.age %></p>
      <p>experience : <%= current_user.experience %></p>
    </div>
    <div class="edit-button">
      <%= link_to "✏️", edit_user_registration_path, class: "edit-icon" %>
    </div>
  </div>

  <!-- 投稿一覧 -->
  <div class="post-container">
    <% current_user.posts.each do |post| %>
      <div class="post-item">
        <% if post.video.attached? %>
          <video controls>
            <source src="<%= url_for(post.video) %>" type="video/mp4">
          </video>
        <% end %>
      </div>
    <% end %> 

    <!-- 新規投稿ボタン -->
    <div class="post-item new-post">
      <%= link_to new_post_path do %>
        ➕
      <% end %>
    </div>
  </div>
</div>
