<h1>PROFILE</h1>
<div class="profile-container">
  <div class="profile-header">
    <div class="profile-image">
      <% if @user&.profile_image&.attached? %>
        <%= image_tag @user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag "/default-profile.png", alt: "Profile Image", size: "100x100" %>
      <% end %>
    </div>
    <div class="profile-info">
      <p>name : <%= @user.name %></p>
      <p>genre : <%= @user.genre %></p>
      <p>age : <%= @user.age %></p>
      <p>experience : <%= @user.experience %></p>
    </div>
    <div class="edit-button">
      <%= link_to "プロフィール編集 ✏️", edit_user_path("current"), class: "edit-icon" %>
    </div>
  </div>

  <!-- 投稿一覧 -->
  <div class="post-container">
    <% @posts.each do |post| %>
      <div class="post-item">
        <% if post.video.attached? %>
          <video width="200" controls>
            <source src="<%= url_for(post.video) %>" type="video/mp4">
          </video>
        <% end %>
        <p><%= post.genre %></p>
      </div>
    <% end %> 

    <!-- 新規投稿ボタン -->
    <div class="post-item new-post">
      <%= link_to new_post_path do %>
        ➕
      <% end %>
    </div>
  </div>
</div>
