<%# home（投稿一覧）のビュー %>
<% content_for :header do %>
  Home
<% end %>

<div class="posts-index">
  <div class="post-grid">
  <% @posts.each do |post| %>
    <div class="post-item">
      <a href="<%= post_path(post) %>"> <%# 投稿詳細ページへ%>
      <div class="post-thumbnail">
        <% if post.video.attached? %>
          <video class="video-content" controls>
            <source src="<%= url_for(post.video) %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        <% end %>
      </div>
      <p class="post-category"><%= post.genre %></p>

      <% if user_signed_in? %>
        <div class="like-button-container" data-post-id="<%= post.id %>">
          <%= render 'likes/like_button', post: post %>
        </div>
      <% end %>
    </div> 
  <% end %>  
  </div>
</div>
