<!DOCTYPE html>
<html>
<head>
  <title>dance_moeka_app</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <%= render "shared/navbar" %> <!-- ナビゲーションバーを読み込む -->

  <%= yield %> <!-- ここに各ページのコンテンツが入る -->
</body>
</html>
