<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) || "MyApp" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
 
  <%= javascript_importmap_tags %> 

  <% if controller_name == "users" && action_name == "edit" %>
    <%= stylesheet_link_tag "pages/profile_edit", media: "all" %>
  <% end %>
  <% if controller_name == "posts" && action_name == "index" %>
  <%= stylesheet_link_tag "posts/index", media: "all" %>
  <% elsif controller_name == "posts" && action_name == "show" %>
  <%= stylesheet_link_tag "posts/show", media: "all" %>
  <% end %>
  
</head>

<body>

  <!-- ヘッダー -->
<header class="header">
  <div class="header-title">
    <%= yield(:header) %> <!-- 動的タイトル -->
  </div>
  <div class="header-right">
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-btn" %>
  </div>
</header>


  <!-- メインコンテンツ -->
  <%= yield %>

  <!-- フッター（タブナビゲーション） -->
<% unless content_for?(:hide_footer) %>
  <footer class="tab-navbar">
    <%= link_to post_index_path, class: "tab-item #{current_page?(post_index_path) ? 'active' : ''}" do %>
      <i class="fas fa-home"></i>
    <% end %>

    <%= link_to likes_path, class: "tab-item #{current_page?(likes_path) ? 'active' : ''}" do %>
      <i class="fas fa-heart"></i>
    <% end %>

    <%= link_to user_profile_path, class: "tab-item #{current_page?(user_profile_path) ? 'active' : ''}" do %>
      <i class="fas fa-user"></i>
    <% end %>
  </footer>
<% end %>

</body>
</html>
