<%# ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç·¨é›†ãƒšãƒ¼ã‚¸ %>
<% content_for :header do %>
  Profile
<% end %>

<div class="users-edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch, multipart: true }) do |f| %>

 <div class="profile-container">
    
    <div class="profile-image-container"> <!-- ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç”»åƒ -->
      <% if resource&.profile_image&.attached? %>
        <%= image_tag resource.profile_image, size: "100x100", class: "profile-image" %>
      <% else %>
        <%= image_tag "/default-profile.png", size: "100x100", class: "profile-image" %>
      <% end %>

      <label for="profile_image_upload" class="camera-icon">    <!-- ã‚«ãƒ¡ãƒ©ã‚¢ã‚¤ã‚³ãƒ³ -->
        ðŸ“·
      </label>
      <%= f.file_field :profile_image, id: "profile_image_upload", class: "hidden-input" %>
    </div>

    <div class="profile-info"> <!-- ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«æƒ…å ± -->
      <div class="info-item">
        <span>name</span> <span><%= f.text_field :name, class: "input-field" %></span>
      </div>
      <div class="info-item">
        <span>genre</span> <span><%= f.text_field :genre, class: "input-field" %></span>
      </div>
      <div class="info-item">
        <span>age</span> <span><%= f.number_field :age, class: "input-field" %></span>
      </div>
      <div class="info-item">
        <span>experience</span> <span><%= f.number_field :experience, class: "input-field" %></span>
      </div>
    </div>

    <%= f.hidden_field :current_password, value: "dummy_password" %> <!-- ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ãªã—æ›´æ–°ç”¨ã® hidden_field -->

    <div class="button-container">  <!-- ä¿å­˜ãƒœã‚¿ãƒ³ -->
      <%= f.submit "save", class: "save-button" %>
    </div>
  </div>
<% end %>
</div>